.outline {
    height: 4vw;
    width: 4vw;
    background-color: blue;
    border: .1vw black solid;
    justify-content: center;
    align-items: center;
    display: flex;
}

.content {
    height: 80%;
    width: 80%;
    border-radius: 50%;
    background-color: white;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear {
    background-color: white;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}